header {
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

header img {
  width: 150px;
}

header h1 {
  text-transform: uppercase;
}

.cards {
  display: flex;
}

.card {
  flex: 1;
  padding: 15px;
  margin: 15px;
  border: 1px solid grey;
  border-radius: 15px;
}

.card h2 {
  text-align: center;
}

.card .line-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
